/* CSS Document */
body{
    font-family: arial,helvetica, sans-serif;
    margin: auto;
    padding: 0;
    background: #ffffff;
}
.headname{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}
.headname h1{
    font-size: 120px;
    margin: auto;
}
.headname img{
    width: 150px;
    height: 150px;
}
.nav{
    background-color: #3366ff;
}
.nav ul{
    width: 680px;
    margin: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav li{
    display: inline-block;
    padding: 30px;
}
.nav li a{
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;

}
.nav li a:visited{
    color: #ffffff;
}
.nav li a:hover{
    border-top: 3px solid #ff9900;
}

.nav li a:after{
    color: yellow;

}

#login-text{
    font-size: 20px;
}
.container{
    width: 1024px;
    margin: auto;
}
.booking{

}

.error {
    color: red;
    font-style: italic;
}

.label {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;  
}

input {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}   

input:focus {
    background-color: lightblue;
}

select {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.search th  {
    background-color: #007bff;
    color: white;
}

.search td  {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.search tr:hover {
    background-color: #f5f5f5
}

.search a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.heading {
    font: bold 2em/1em "Times New Roman", "MS Serif", "New York", serif;
    margin: 5px;
    padding: 2px;
    padding-bottom: 5px;
    color: black;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    display: block;
}

div.wrapper { 
    margin: 0 auto; 
    width: 40%; 
    border-left: 0px solid #f0e9eb; 
    border-right: 0px solid #f0e9eb; 
}

.link-btn {
    color: white;
    background: green;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}
 
.link-btn:hover {
    background: #6ab8be;
}

.success {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align: center;
}

.cancel-btn {
    color: white;
    background: red;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}
 
.cancel-btn:hover {
    background: #8B0000;
}
